*,* :before, *:after {
 box-sizing: border-box;
}

body {
	line-height: 1.2;
  background-color: #333;
  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  font-size: 16px;
}

ol, ul {
	list-style: none;
}

h1 {
  font-size: 17px;
  font-weight: bold;
}

h2 {
  font-size: 17px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 13px;
}

nav {
  width: 100%;
  padding: 10px 15px;
  background: #F8F8F8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.5px 0 rgba(0,0,0,0.3);
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  margin: 0 auto;
  width: 420px;
  background: white;
  height: 700px;
  overflow: auto;
}

.list {
  padding: 0 20px;
}

.icon {
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list .icon {
  height: 22px;
  width: 22px;
  margin-left: 10px;
}

.header-row {
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  padding-top: 5px;
  padding-left: 30px;
}

.row {
  padding: 10px 5px;
  border-bottom: 1px solid #BCBBC1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row:hover {
   background-color: #b1d1fd;
   cursor: pointer;
}

.column-right, .column-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-left > .text:first-of-type {
    width: 45px;
}

.column-right > .text {
    text-align: right;
}
